body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #000000;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px; 
    text-transform: uppercase;
}

h1 {
    color: #000000;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px; 
    text-transform: uppercase;
}

h2 {
    color: #000000;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px; 
    text-transform: uppercase;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
} 

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: white;  
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
    background-color: white;
    font-size: 0;
}

.top-menu {
    padding-left: 6%;
    padding-right: 6%;    
}

.top-menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.top-menu li {
    width: 20%;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;

}

.top-menu li:nth-child(3), .top-menu li:last-child {
    text-align: right;
}


.top-menu li:nth-child(2) {
    padding-right: 11%;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.top-image {
    height: 433px;
    padding-top: 75px;
    background: 
        url("../img/img-bottom.png") no-repeat 50% 100%, 
        url("../img/background.jpg") no-repeat 50% 0;
}

.top-image img {
    display: block;
    margin: auto;
}


.features-head {
    width: 575px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 46px;
    padding-bottom: 37px;
    text-align: center;
}

.block-caption {
    padding-top: 13px;
    text-transform: uppercase;
}

.features-block h2 {
    color: white;
}

.features-block {
    min-height: 256px;
    display: flex;
    color: white;
    line-height: 0;
    background-color: #81b3d2;
}


.features-text {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 26px;
}

.features-text h2 {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 25px;
}

.features-bottom h2 {
    padding-left: 100px;
    padding-right: 100px;
}

.features-number, .features-text {
    text-align: center;
}

.features-img {
    width: 66.67%;
    margin: 0;
    padding: 0;
}

.features-block--inverse {
    flex-direction: row-reverse;
}


.advice {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0;
}

.advice-item {
    width: 33.33%;
    padding-bottom: 64px;
    font-size: 14px;
    text-align: center;
}

.advice-item-description {
    padding: 6px 72px;
    line-height: 20px;
    text-align: center;
}

.advice-item--house::before {
    content: "";
    display: block;
    width: 85px;
    height: 75px;
    margin: 58px 157px 28px 157px;
    background: url("../img/house-icon.png") no-repeat center;
}

.advice-item--hamburger::before {
    content: "";
    display: block;
    width: 85px;
    height: 75px;
    margin: 58px 157px 28px 157px;
    background: url("../img/hamburger-icon.png") no-repeat center;
}

.advice-item--hamburger .advice-item-description {
    padding-right: 57px;
    padding-left: 57px;
}

.advice-item--gift::before {
    content: "";
    display: block;
    width: 85px;
    height: 75px;
    margin: 58px 157px 28px 157px;
    background: url("../img/gift-icon.png") no-repeat center;
}

.advice-item--gift .advice-item-description {
    padding-right: 64px;
    padding-left: 64px;
}

.features-bottom {
    min-height: 256px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-top: 0;
    color: #000000;
    line-height: 0;
    background-color: #eeeeee;
}

.features-bottom .features-text {
    width: 400px;
    line-height: 26px;
    display: flex;
    padding: 0;
    margin-top: -10px;
    flex-direction: column;
    justify-content: center;
}

.features-bottom .features-description {
    padding-left: 60px;
    padding-right: 60px;
}


.search-text {
    width: 575px;
    min-height: 235px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 55px;
    margin-right: auto; 
    margin-left: auto;
}

.search-text p {
    padding-top: 10px;
    padding-bottom: 33px;
    line-height: 24px;
}

.search-caption {
    line-height: 24px;
    font-size: 30px;
    font-weight: bold;
}

.search-btn {
    width: 570px;
    padding: 30px;
    border: none;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #766357;
}

.map {
    width: 100%;
    height: 594px;
    background: url('../img/map.jpg') no-repeat center bottom;
}

.search-container {
    position: absolute;
    left: 315px;
    width: 570px;
    min-height: 393px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.search-form {
    padding: 40px 57px;
    font-weight: bold;
    line-height: 26px;

}

.search-form input {
    height: 26px;
    padding: 5px 15px;
    margin: 15px 0;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}


input[type="text"] {
    width: 315px;
    margin-left: 15px;
    border: none;
    background-color: #f2f2f2;
}
    
.search-form label {
    margin: 0;
    padding: 0;
}

.search-form span {
    font-size: 14px;
    line-height: 26px;
}

/*мракобесие*/
.people-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.people-block label {
    display: flex;
    justify-content: space-between;
}

.people-block input {
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    background-color: #f2f2f2;
}

.people-block input:last-child {
    margin-right: 0;
}
/**/

.filter-btn {
    width: 457px;
    padding: 16px 0;
    margin: 43px auto 0 auto;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #81b3d2;
}


.page-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: -121px;
    padding: 41px 100px;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-left {
    padding-left: 30px;

}
.footer-hashtag {
    font-size: 21px;
    font-weight: bold;

}

.copyright img {
    line-height: 40px;
    vertical-align: middle;
}



/*внутренняя страница*/

.result-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 121px;
}

.search-block {
    min-height: 188px;
    margin: 0;
    padding: 25px 73px;
    padding-bottom: 0;
    background: url("../img/inner-bg.jpg") no-repeat 0 -55px;
}
/*форма поиска*/
 .hotel-search {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.hotel-search h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.search-infrastructure {
    width: 255px;
    display: flex;
    flex-direction: column;
}

.search-housing {
    width: 240px;
    display: flex;
    flex-direction: column;
}


input[type="checkbox"] {
    display: none;
} 

input[type="checkbox"] + label {
    position: relative;
    padding: 0 0 0 40px;
    margin-bottom: 20px;
}

.checkbox + label::before {
    content: "";
    position: absolute;
    left: -2px;
    width: 17px;
    height: 17px;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -2px;
    width: 17px;
    height: 17px;
    background-color: transparent;
    background: url("../img/checked.png") no-repeat -3px -2px;
    overflow: visible;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/*фильтр по ценовому диапазону*/
.search-price {
    margin-left: auto;
    width: 318px;

}

.search-price-title {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 11px;
    font-weight: bold;

}
/*поля со значениями*/
.range-control {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

/*разделитель между полями со значениями*/
.range-control::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
}

.range-control label {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.range-control .min-price,
.range-control .max-price {
    width: 90px;
    padding-left: 65px;
}

.range-control input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

/* шкала с ползунками*/
.range-scale {
    position: relative;
    margin-bottom: 33px;
}

.range-scale .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-scale .scale-bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

/*ползунки*/

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

/*прозрачная кнопка*/

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 5px 34px;
    border: 2px solid #ffffff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background: none;
}

.btn-transparent:hover {
    color: #000000;
    background-color: #ffffff;
}


/*результаты поиска*/
.result-sorting {
    display: flex;
    padding: 26px 6%;
}

.sorting-filter {
    width: 680px;
    display: flex;
    justify-content: flex-start;
}

.sorting-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    
}
.sorting-title {
    margin-left: 47px;
}

.sorting-option  {
    margin-left: 38px;
}

a.sorting-option {
    font-size: 12px;
    line-height: 18px;
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

a.sorting-option--selected {
    color: #81b3d2;
    border: none;
}
.result-amount {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
    
}

/*временный квадратик вместо стрелочек*/
.sorting-dir {
    margin-left: auto;
    width: 10px;
    height: 10px;
    background-color: #81b3d2;
}

/*блок с результатами*/
.result {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
}

.result:last-child {
    padding-bottom: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.result-block {
    width: 530px;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: flex-start;
}

.result-img {
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.result-name {
    margin-top: 0;
    margin-bottom: 5px;
}

.result-action {
    margin-top: 14px;
}

.result-more-btn {
    padding: 5px 17px;
    margin-right: 3px;
    background-color: #81b3d2;
}

a.result-more-btn {
    color: #ffffff;
}

.result-order-btn {
    padding: 5px 17px;
    border: none;
    background-color: #766357;
}

a.result-order-btn {
    color: #ffffff;
    text-transform: uppercase;
}
.result-rating {
    margin-left: auto;
    padding-right: 6%;
}




/*чтобы футер не выползал вверх*/
