body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px; 
    color: #333333;

}

h1 {
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px; 
    color: #000000;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px; 
    color: #000000;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;  
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}


/*временно покрашено для наглядности*/
.page-header {
    width: 100%;
    background-color: powderblue;
    font-size: 0;
}

.logo {
    position: absolute;
    left: 50%;
}


.page-header li {
    display: inline-flex;
    width: 20%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
}


.top-image {
    height: 510px;
    background: url("../img/background.jpg") no-repeat;
    padding-top: 73px;
}



.top-image img {
    display: block;
    margin: auto;
}

.top-menu {
    padding-left: 6%;
    padding-right: 6%;
}

.top-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.features-block {
    height: 256px;
    margin: 0;
    padding: 0;
}

.features-head {
    width: 575px;
    text-align: center;
    margin: 55px auto;
}

.features-caption {
    text-transform: uppercase;
}

.features-block {
    color: white;
    min-height: 256px;
    display: flex;
    justify-content: space-between;
    background-color: #81b3d2;

}

.features-block h2 {
    color: white;
}

.features-text {
    width: 33,33%;
    margin: 0;
    padding: 0;

}

.features-img {
    margin: 0;
    padding: 0;
    width: 66,66%;

}

.features-block--inverse {
    flex-direction: row-reverse;
}

.advice {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    min-height: 256px;
}

.advice-item {
    width: 33,33%;
    text-align: center;
}

.search-text {
    width: 575px;
    min-height: 200px;
    text-align: center;
    margin-top: 50px;
    margin-right: auto; 
    margin-left: auto;
}

.search-container {
    width: 575px;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
}

.features-bottom {
    display: flex;
    justify-content: space-between;
    min-height: 256px;
}

.features-bottom .features-text {
    background-color: #eeeeee;
    width: 33,33%;
}

.features-number, .features-text {
    text-align: center;
}

.features-text p {
    padding-left: 50px;
    padding-right: 20px;
    text-transform: uppercase;
}

.page-footer {
    display: flex;
    justify-content: space-around;
}