body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #000000;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px; 
    text-transform: uppercase;
}

h1 {
    color: #000000;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px; 
    text-transform: uppercase;
}

h2 {
    color: #000000;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px; 
    text-transform: uppercase;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
} 

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: white;  
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
    background-color: white;
    font-size: 0;
}

.top-menu {
    padding-left: 6%;
    padding-right: 6%;    
}

.top-menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.top-menu li {
    width: 20%;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;

}

.top-menu li:nth-child(3), .top-menu li:last-child {
    text-align: right;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.top-image {
    height: 433px;
    padding-top: 75px;
    background: 
        url("../img/img-bottom.png") no-repeat 50% 100%, 
        url("../img/background.jpg") no-repeat 50% 0;
}

.top-image img {
    display: block;
    margin: auto;
}


.features-head {
    width: 575px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 46px;
    padding-bottom: 37px;
    text-align: center;
}

.block-caption {
    padding-top: 13px;
    text-transform: uppercase;
}

.features-block h2 {
    color: white;
}

.features-block {
    min-height: 256px;
    display: flex;
    color: white;
    line-height: 0;
    background-color: #81b3d2;
}


.features-text {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 26px;
}

.features-text h2 {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 25px;
}

.features-number, .features-text {
    text-align: center;
}

.features-img {
    width: 66.67%;
    margin: 0;
    padding: 0;
}

.features-block--inverse {
    flex-direction: row-reverse;
}


.advice {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0;
}

.advice-item {
    width: 33.33%;
    padding: 60px;
    padding-bottom: 85px;
    font-size: 14px;
    text-align: center;
}

.advice-item--house {
    background: url("../img/house-icon.png") no-repeat center;
}

.advice-item--hamburger {
    background: url("../img/hamburger-icon.png") no-repeat center;
}

.advice-item--gift {
    background: url("../img/gift-icon.png") no-repeat center;
}

.features-bottom {
    min-height: 256px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-top: 0;
    color: #000000;
    line-height: 0;
    background-color: #eeeeee;
}

.features-bottom .features-text {
    width: 400px;
    line-height: 26px;
    display: flex;
    padding: 0;
    margin-top: -10px;
    flex-direction: column;
    justify-content: center;
}

.features-bottom .features-description {
    padding-left: 60px;
    padding-right: 60px;
}


.search-text {
    width: 575px;
    min-height: 235px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 55px;
    margin-right: auto; 
    margin-left: auto;
}

.search-caption {
    line-height: 24px;
    font-size: 30px;
    font-weight: bold;
}

.search-btn {
    width: 570px;
    padding: 30px;
    border: none;
    font-family: "PT Sans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #766357;
}

.map {
    width: 100%;
    height: 594px;
    background: url('../img/map.jpg') no-repeat center bottom;
}

.search-container {
    position: absolute;
    left: 317px;
    width: 570px;
    min-height: 393px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.search-form input {
    height: 26px;
    padding: 5px 15px;
    margin: 15px 0;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.search-form {
    padding: 40px 57px;
    font-weight: bold;
    line-height: 26px;

}

input[type="text"] {
    width: 315px;
    margin-left: 15px;
    border: none;
    background-color: #f2f2f2;
}
    
.search-form label {
    margin: 0;
    padding: 0;
}
    
input[type="number"] {
    width: 60px;
    margin: 15px 32px;
    border: none;
    text-align: center;
    background-color: #f2f2f2;
}

.filter-btn {
    width: 457px;
    padding: 16px 0;
    margin: 43px auto 0 auto;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #81b3d2;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: -121px;
    padding: 41px 100px;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px; 
}

.copyright img {
    line-height: 40px;
    vertical-align: middle;
}



/*внутренняя страница*/
.container-inner-page {
    padding-left: 6%;
    padding-right: 6%;
}

.search-block {
    min-height: 188px;
    margin: 0;
    padding: 30px 73px;
    padding-bottom: 0;
    background: url("../img/inner-bg.jpg") no-repeat 0 -55px;
}
/*форма поиска*/
 .hotel-search {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

 }
.search-infrastructure {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.search-housing {
    width: 240px;
    display: flex;
    flex-direction: column;
}

/*фильтр по ценовому диапазону*/
.search-price {
    margin-left: 200px;
    width: 330px;

}

.search-price-title {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 9px;
    font-weight: bold;

}
/*поля со значениями*/
.range-control {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

/*разделитель между полями со значениями*/
.range-control::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
}

.range-control label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.range-control .min-price,
.range-control .max-price {
    width: 90px;
    padding-left: 65px;
}

.range-control input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

/* шкала с ползунками*/
.range-scale {
    position: relative;
    margin-bottom: 22px;
}

.range-scale .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-scale .scale-bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

/*ползунки*/

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

/*прозрачная кнопка*/

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 5px 34px;
    border: 2px solid #ffffff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background: none;
}

.btn-transparent:hover {
    color: #000000;
    background-color: #ffffff;
}


/*результаты поиска*/
.result-sorting {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.sorting-filter {
    width: 680px;
    display: flex;
    justify-content: space-around;
}




/*временный квадратик вместо стрелочек*/
.sorting-dir {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #81b3d2;
}


/*чтобы футер не выползал вверх*/
.result-content {
    margin-bottom: 121px;
}